$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

#ideas .controls {
    margin-left: 20px;
    margin-right: 20px;
}

#ideas .body {
    border-bottom: 1px dotted silver !important;
    padding: 10px;
}

#top-ideas {
    border: 1px solid silver;
    border-radius: 4px;
    padding: 25px;
    padding-top: 0px;
    margin-left: 45px;
}

#create-idea {
    padding-left: 40px;
    padding-right: 40px;
}

#comments .comment .user {
    font-size: 12px;
}
